# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# python
bindings/python/build/
*.pyc

# java
bindings/java/capstone.jar

# test binaries
tests/test
tests/test_detail
tests/test_arm
tests/test_arm64
tests/test_mips
tests/test_x86
tests/test_ppc

# vim tmp file
*.swp

capstone.pc

# local files
_*
