<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CapstoneDynamic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CapstoneFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CapstoneStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_arm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test_arm64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test_detail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_iter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_mips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test_ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test_skipdata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>test_sparc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test_systemz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test_x86.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test_xcore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC474E6319DDEA5F00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474E8519DDEAA200BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474E9019DDEAA700BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474E9B19DDEAAC00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EA619DDEAB000BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EB119DDEAB700BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EBC19DDEABC00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EC719DDEAC100BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474ED219DDEAC600BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EDD19DDEACC00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474EE919DDEAE400BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474F0A19DDF07300BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474F1419DDF07300BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474F6719DE6F3B00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC474F7119DE6F3B00BCA449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC5BFF3F19EE544E008CA585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23A319DDCBC300EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23AC19DDCBCF00EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23B419DDCC1100EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23BC19DDCC2D00EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23C419DDCC3400EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFE23CC19DDCC9500EF8EA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
